

@import url(https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica);

* {
	box-sizing: borderbox;
	font-family: 'IM Fell DW Pica', serif;
}

header {
	border-bottom: 1px solid navy;
	height: 60px;
	position: relative;
}

h1 {
	color: navy;
	float:left;
	width: 25%;
}

nav ul li {
	font-size: 1.25em;
	display: inline-block;
	float: right;
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 60px;
}

.container {
	width: 0 auto;

}

.container:after{
	content: "";
	display: table;
	clear:both;
}

[class*="photo-"] {
	float: left;
	width: 30%;
	padding: 5px;
}

div > p {
	text-align: center;
}
