<!DOCTYPE html>
<html>
<head>
	<title>Layout Practice</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="layout_practice.css">
</head>

<body>
	
	<div class="grid">
	<!-- 100% wide -->
		<div class="col-2-3">
			<p>The giant sums of money spinning around San Francisco in recent years, fueled by a booming tech sector, have generated hordes of 20-something millionaires and thousands more with six-figure salaries. While that wealth has created a widely envied economy, housing costs have skyrocketed, and the region’s economic divisions have deepened. The rent for a one-bedroom apartment in San Francisco is more than $3,500 a month, the highest in the country.</p>
		<!-- Main content -->
		</div>
		<div class="col-1-3">
			<p>The giant sums of money spinning around San Francisco in recent years, fueled by a booming tech sector, have generated hordes of 20-something millionaires and thousands more with six-figure salaries.</p>
		<!-- Sidebar -->
		</div>
	</div>

	<div class="grid grid-pad">
		<!-- grid with outside colors also -->
		<div class="col-2-3">
			<p>The giant sums of money spinning around San Francisco in recent years, fueled by a booming tech sector, have generated hordes of 20-something millionaires and thousands more with six-figure salaries. While that wealth has created a widely envied economy, housing costs have skyrocketed, and the region’s economic divisions have deepened. The rent for a one-bedroom apartment in San Francisco is more than $3,500 a month, the highest in the country.</p>
		<!-- Main content -->
		</div>
		<div class="col-1-3">
			<p>The giant sums of money spinning around San Francisco in recent years, fueled by a booming tech sector, have generated hordes of 20-something millionaires and thousands more with six-figure salaries.</p>
		<!-- Sidebar -->

	</div>

</body>